# Mac Folder Attribute Files #
##############################
*.DS_Store
*Thumbs.db

# PM Distro #
##############################
*.gz
/dzil
/dzil/*
/IO-Routine/blib/*
/IO-Routine/Makefile
/IO-Routine/pm_to_blib/*
/IO-Routine/META.json
/IO-Routine/pm_to_blib
/IO-Routine/MYMETA.json
/IO-Routine/MYMETA.yml

# NGS-Utils #
##############################
*.depconf
*.PERLLIBS
/NGS-Utils/.lncRNApipe.depbin/Rfam*
/NGS-Utils/.lncRNApipe.depbin/Rfam*
/NGS-Utils/PERLLIBS