# Mac Folder Attribute Files #
##############################
*.DS_Store
*Thumbs.db

# PM Distro #
##############################
*.gz
/IO-Routine/blib/*
/IO-Routine/Makefile
/IO-Routine/pm_to_blib/*
/IO-Routine/META.json
/IO-Routine/META.yml
/IO-Routine/pm_to_blib
/IO-Routine/MYMETA.json
/IO-Routine/MYMETA.yml
