# Mac Folder Attribute Files #
##############################
*.DS_Store
*Thumbs.db

# PM Distro #
##############################
*.gz
/dzil
/dzil/*
/IO-Routine/blib/*
/IO-Routine/Makefile
/IO-Routine/pm_to_blib/*
/IO-Routine/META.json
/IO-Routine/META.yml
/IO-Routine/pm_to_blib
/IO-Routine/MYMETA.json
/IO-Routine/MYMETA.yml

# NGS-Utils #
##############################
/NGS-Utils/.ncRNAScan.depconf
/NGS-Utils/.ncRNAScan.depbin/Rfam.cm.1_1
/NGS-Utils/.ncRNAScan.depbin/Rfam.cm.1_1.i1m